@model Gts.AuthorizationServer.ViewModels.CombineViewModel.CombineViewModel

@{
    ViewBag.Title = "Панель управления доступом";
    Layout = "_Layout";
}

<form asp-action="CreateRole" asp-controller="Claim">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label class="form-label">Название роли</label>
        <input type="text" name="roleName" class="form-control" />
    </div>
    <div class="mb-3">
        <input type="submit" value="Создать" class="btn btn-primary" />
    </div>
</form>

<form asp-action="SelectedRole" asp-controller="Claim">
    <select class="form-select" id="roleSelect" name="selectedRole">
        <option value="@Model.SelectedRole">@Model.SelectedRole</option>
        @foreach (var role in ViewBag.Roles)
        {
            <option value="@role.Name">@role.Name</option>
        }
    </select>
    <input type="submit" value="Select" class="btn btn-primary btn-login" />
</form>


<form asp-action="Create" asp-controller="Claim">
    @using (Html.BeginForm("Create", "Claim", FormMethod.Post))
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Функция</th>
                        <th>Чекбокс</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in Model.Claims)
                    {
                        <tr>
                            <td>@claim.Id</td>
                            <td>@Model.RussianClaimNames[claim.Name]</td>

                            @if (Model.IdentityRoleClaims != null && Model.IdentityRoleClaims.Any(c => c.ClaimValue == claim.Name))
                            {
                                <td>
                                    <input id="IsActive_@claim.Id" class="form-check-input" type="checkbox" name="selectedNames" value="@claim.Name" checked />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input id="IsActive_@claim.Id" class="form-check-input" type="checkbox" name="selectedNames" value="@claim.Name" />
                                </td>
                            }
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="mb-3">
            <input type="submit" value="Добавить" class="btn btn-primary btn-login" />
        </div>
    }
</form>